<p id="notice"><%= notice %></p>

<h2>Thank you for your business</h2>
  <h4>Your order has been received.</h4>

    <% order = @customer.order %>

    <% if ! order.blank? %> 
      <% order.line_items.each do |line_item| %>
        <%= line_item.quantity %>
        <%= line_item.product.name %>
        <%= number_to_currency (line_item.unit_price) %>
        <br> 
      <% end %>
      Sub Total: <%= number_to_currency order.sub_total %> <br>
      Sales Tax: <%= number_to_currency order.sale_tax %> <br>
      Grand Total: <%= number_to_currency order.grand_total %> <br>
    
    <% else %>
      Your cart is empty
    <%end%>
<hr>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @customer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @customer.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @customer.zip %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
