<h1>Editing product</h1>


<div style ="float:left; width:40%">
<%= render 'form' %>
</div>

<div style = "float:left; width:40%">
	<h3>Add Category</h3>
	<%= form_for(@product_category, url: assign_category_path) do |f| %>
		  <% if @product_category.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@product_category.errors.count, "error") %> prohibited this product from being saved:</h2>

	      <ul>
	      <% @product_category.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	<%= f.hidden_field :product_id, value: @product.id %>
	<%= f.select :category_id, Category.all.map {|cat| [cat.name,cat.id]}%>
	<%= f.submit "Add Assign Category" %>
	<%end%>

	<h3>Categories</h3>
	<% @product.categories.each do |cat|%>
		<%= cat.name %>
	<% end %>



</div>

<div style="clear:both;"> </div>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
