<!DOCTYPE html>
<html>
<head>
  <title>Thundercats</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='header'>
	Thundercats
	<% if user_signed_in? %>
		Hi <%= current_user.email %>
		<%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
	<% else %>
		Not signed in.
		<%= link_to "Log In", new_user_session_path %>
	<% end %>	
</div>
<div>
<%= notice %></br>
<%= alert %>
</div>
<%= yield %>

</body>
</html>
